body {
    margin: 0;
    font-family: "Comic Sans MS", "Chalkboard SE", "Marker Felt", sans-serif;
    background-color: #a0d8f1; 
    color: #fff;
    text-align: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    margin:0;
    padding:0;
}

.nav-bar li{
    flex: 1;                   
    text-align: center;         
    padding: 20px 0;           
    color: white;
    text-decoration: none;
    background-color: #1a3f6b;   
    transition: background-color 0.3s ease;
    list-style: none;
}


.nav-bar li:hover {
    background-color: #14527a;    
}


#map {
    width: 80%;        
    height: 60vh;      
    margin: 20px auto; 
    border: 2px solid #1a3f6b; 
    border-radius: 10px;
    overflow: hidden;  
    box-sizing: border-box; 
}
